In [3]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [4]:
df=pd.read_csv("D:\\NLC_Projects\\Gender classification\\gender_classification_v7.csv")

In [5]:
df.head(5)

,long_hair,forehead_width_cm,forehead_height_cm,nose_wide,nose_long,lips_thin,distance_nose_to_lip_long,gender
0,1,11.8,6.1,1,0,1,1,Male
1,0,14.0,5.4,0,0,1,0,Female
2,0,11.8,6.3,1,1,1,1,Male
3,0,14.4,6.1,0,1,1,1,Male
4,1,13.5,5.9,0,0,0,0,Female

In [6]:
df.tail(5)

,long_hair,forehead_width_cm,forehead_height_cm,nose_wide,nose_long,lips_thin,distance_nose_to_lip_long,gender
4996,1,13.6,5.1,0,0,0,0,Female
4997,1,11.9,5.4,0,0,0,0,Female
4998,1,12.9,5.7,0,0,0,0,Female
4999,1,13.2,6.2,0,0,0,0,Female
5000,1,15.4,5.4,1,1,1,1,Male

In [7]:
df.isnull().sum()

long_hair                    0
forehead_width_cm            0
forehead_height_cm           0
nose_wide                    0
nose_long                    0
lips_thin                    0
distance_nose_to_lip_long    0
gender                       0
dtype: int64

In [8]:
df['gender'] = df['gender'].str.strip()

In [9]:
X=df.drop(['gender'],axis=1)
Y=df['gender']

In [10]:
X

,long_hair,forehead_width_cm,forehead_height_cm,nose_wide,nose_long,lips_thin,distance_nose_to_lip_long
0,1,11.8,6.1,1,0,1,1
1,0,14.0,5.4,0,0,1,0
2,0,11.8,6.3,1,1,1,1
3,0,14.4,6.1,0,1,1,1
4,1,13.5,5.9,0,0,0,0
...,...,...,...,...,...,...,...
4996,1,13.6,5.1,0,0,0,0
4997,1,11.9,5.4,0,0,0,0
4998,1,12.9,5.7,0,0,0,0
4999,1,13.2,6.2,0,0,0,0
5000,1,15.4,5.4,1,1,1,1

In [11]:
Y

0         Male
1       Female
2         Male
3         Male
4       Female
         ...
4996    Female
4997    Female
4998    Female
4999    Female
5000      Male
Name: gender, Length: 5001, dtype: object

In [12]:
Y = Y.map({'Male': 0, 'Female': 1})

In [13]:
Y

0       0
1       1
2       0
3       0
4       1
       ..
4996    1
4997    1
4998    1
4999    1
5000    0
Name: gender, Length: 5001, dtype: int64

In [14]:
# from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

In [15]:
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=0.2,random_state=10)

In [16]:
x_train.shape,x_test.shape,X.shape

((4000, 7), (1001, 7), (5001, 7))

In [17]:
y_train.shape,y_test.shape,Y.shape

((4000,), (1001,), (5001,))

In [18]:
from sklearn.preprocessing import StandardScaler # type: ignore
from sklearn.linear_model import LogisticRegression # type: ignore

In [19]:
scaler=StandardScaler()
x_train_scaled=scaler.fit_transform(x_train)
x_test_scaled=scaler.fit(x_test)

In [20]:
import numpy as np

In [21]:
model=LogisticRegression()
lr_model=model.fit(x_train,y_train)

In [23]:
y_pred=model.predict(x_test)

In [24]:
from sklearn import metrics
print("Accuracy Score",metrics.accuracy_score(y_pred,y_test))
print("Classification Report\n",metrics.classification_report(y_pred,y_test))

Accuracy Score 0.974025974025974
Classification Report
               precision    recall  f1-score   support

           0       0.97      0.98      0.97       507
           1       0.98      0.97      0.97       494

    accuracy                           0.97      1001
   macro avg       0.97      0.97      0.97      1001
weighted avg       0.97      0.97      0.97      1001

In [ ]:
def predict_gender(model,scaler,feature_names):
    data=[]
    for feature in feature_names:
        a = float(input(f"{feature}: "))
        data.append(a)
    
    data=np.array(data).reshape(1,-1)
    data_scaled=scaler.transform(data)
    data_predicated=model.predict(data_scaled)

    if data_predicated[0]==1:
        print("Female")
    else:
        print("Male")

In [ ]:
feature_name=(X.columns.tolist())
predict_gender(model,scaler,feature_name)

Female